/*Code for: General, section one, section two
section 3, buttons, etc.*/
body {
	margin: 0px 30px;
	padding: 0px;
}

.blog_name {
	position: relative;
	left: 20px;
	font-size: 40px;
	color: white;
	font-family: 'Abril Fatface', cursive;
}

.page-container {
	display: grid;
	grid-template-rows: 10% 25% 75%;
	height: 1025px;
}

.hidden {
	display: none;
}

#one {
	display: flex;
	align-items: center;
	width: 100%;
	background-image: url("blog_header.png");
}

#two {
	width: 100%;
	display: grid;
}

#post {
	margin: 20px;
}

textarea {
	resize: none;
	width: 100%;
	height: 90px;
	font-size: 13px;
	font-family: 'Open Sans Condensed', sans-serif;
	cursor: text;
}

input {
	font-size: 13px;
	width: 200px;
	font-family: 'Open Sans Condensed', sans-serif;
	cursor: text;
}

label {
	font-size: 17px;
	color: purple;
	font-family: 'Open Sans Condensed', sans-serif;
}

#submit {
	float: right;
	background-color: #8228FB;
    border: none;
    color: white;
    width: 75px;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 13px;
    cursor: pointer;
}

#push {
	background-color: #8228FB;
    border: none;
    color: white;
    width: 75px;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 13px;
    cursor: pointer;
}

#three {
	display: grid;
	background-image: url("abstract.png");
	width: 100%;
}

#published {
	margin: 20px;
}

.delete {
	float: right;
	background-color: white;
    border: none;
    color: #8228FB;
    width: 75px;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 13px;
    cursor: pointer;
    opacity: 0;
    animation: fadeIn 1s ease-in 1 forwards;
}

.title {
	color: white;
	font-size: 23px;
	font-family: 'Raleway Dots', cursive;
}

.text {
	color: white;
	font-size: 13px;
	font-family: 'Loved by the King', cursive;
}

.publish {
	color: white;
	font-size: 13px;
	font-family: 'Italiana', serif;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade_in {
  opacity: 0;
  animation: fadeIn 1s ease-in 1 forwards;
}

.new_sec {
	display: grid;
	width: 100%;
	height: 400px;
	background-image: url("blog_header.png");
	position: relative;
	top: 90px;
}

.new_div {
	margin: 20px;
	display: grid;
	grid-template-rows: 25% 75%;
}

.split {
	display: grid;
	grid-template-columns: 50% 50%;
}

.blog_name_new {
	text-align: center;
	position: relative;
	top: -25px;
	font-size: 40px;
	color: white;
	font-family: 'Abril Fatface', cursive;
}

.sec1 {
	display: flex;
	margin: 0px 5px 0px 0px;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	position:relative;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
}

.sec2 {
	display: flex;
	margin: 0px 5px 0px 0px;
	position:relative;
	align-items: center;
	justify-content: center

}

.par {
	height: 125px;
	width: 305px;
}

.par2 {
	text-align: center;
	height: 50px;
	width: 305px;
}

img {
	height: 125px;
}